mat-toolbar {
    background-color: rgb(27, 27, 27);
    color: #ffffff;

    .toolbar-content {
        width: 80%;
        min-width: 70%;
        max-width: 100%;
        margin: 0 auto;

        display: inline-flex;

        .example-fill-remaining-space {
            flex: 1 1 auto;
        }

        img {
            max-width: 50px;
            height: auto;
        }
    }    
}