$dark: #1B1B1B;
$font-color: #9A9A9A;
$yellow: #FFA31A;

#content {
    color: $font-color;

    #header {
        background-color: $dark;
        min-height: 100vh;
    }

    #carousel-wrapper {
        
        .caption {
            text-align: right;
            float: right;

            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .main-text {
        font-size: 44px;
        font-weight: 300;
        line-height: 44px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 22px;
    }
}