<div id="main">
    <div id="content" fxFlex="column">

        <div id="header" class="container" fxLayout="column">
            <div fxLayoutAlign="space-between center" fxLayout="row">
                <div id="logo">
                    <img width="70" src="../assets/images/branding/logo-principal.svg" alt="ZEN SLEEP">
                </div>

                <app-header-menu></app-header-menu>
            </div>

            <div id="carrousel-wrapper">
                carrousel aqui
            </div>
        </div>

        <app-footer></app-footer>

    </div>
</div>