<div class="container py-5">
    <form class="m-auto" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" [formGroup]="cadastroForm"
        (ngSubmit)="register(cadastroForm.value)">

        <mat-form-field appearance="none">
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="email" required>
            <mat-error *ngIf="email.touched && email.errors">Insira um endereço de email válido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="none">
            <mat-label>Senha</mat-label>
            <input matInput type="password" [formControl]="password" required>
            <mat-error *ngIf="password.touched && password.errors">Campo obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="none">
            <mat-label>Seu nome e sobrenome</mat-label>
            <input matInput type="text" [formControl]="name" required >
            <mat-error *ngIf="name.touched && name.errors">Campo obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="none">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="birth" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
            <mat-error *ngIf="birth.touched && birth.errors">Campo obrigatório.</mat-error>
        </mat-form-field>

        <label class="label">Sexo</label>
        <mat-radio-group [formControl]="sex" aria-label="Select an option">
            <mat-radio-button value="masculino">Masculino</mat-radio-button>
            <mat-radio-button value="feminino">Feminino</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="none">
            <mat-label>Telefone</mat-label>
            <input matInput type="tel" [mask]="'(00) 0000-0000'" [formControl]="phone" required>
            <mat-error *ngIf="phone.touched && phone.errors">Campo obrigatório.</mat-error>
        </mat-form-field>

        <div>
            <mat-checkbox class="w-100" [formControl]="whatsappAlerts">Receber notificações por Whatsapp</mat-checkbox>
        </div>
        <div>
            <mat-checkbox class="w-100" [formControl]="emailAlerts">Desejo receber ofertas por email</mat-checkbox>
        </div>

        <button class="btn bg-highlight btn-rounded" type="submit">Continuar</button>
        <p>Já possui cadastro? <a [routerLink]="['/login']"><u>Entre por aqui</u></a></p>
    </form>
</div>