<div class="container py-5">
    <form class="m-auto" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" [formGroup]="cadastroForm"
        (ngSubmit)="register(cadastroForm.value)">

        <mat-form-field appearance="none">
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="email" required>
            <mat-error *ngIf="email.touched && email.errors">Insira um endereço de email válido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="none">
            <mat-label>Nome completo</mat-label>
            <input matInput type="text" [formControl]="name" required >
            <mat-error *ngIf="name.touched && name.errors">Campo obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="none">
            <mat-label>CPF</mat-label>
            <input matInput type="tel" [mask]="'000.000.000-00'" [formControl]="cpf" required>
            <mat-error *ngIf="cpf.touched && cpf.errors">Campo obrigatório.</mat-error>
        </mat-form-field>

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="20">
                <mat-form-field  appearance="none">
                    <mat-label>DDD</mat-label>
                    <input matInput type="tel" [mask]="'(00)'" [formControl]="phoneAreaCode" required>
                    <mat-error *ngIf="phoneAreaCode.touched && phoneAreaCode.errors">Campo obrigatório.</mat-error>
                </mat-form-field>
            </div>
    
            <div fxFlex="70">
                <mat-form-field  appearance="none" class="w-100">
                    <mat-label>Telefone</mat-label>
                    <input class="w-100" matInput type="tel" [mask]="'00000-0000'" [formControl]="phone" required>
                    <mat-error *ngIf="phone.touched && phone.errors">Campo obrigatório.</mat-error>
                </mat-form-field>
            </div>
        </div>


        <button class="btn bg-highlight btn-rounded m-auto" type="submit" [disabled]="!cadastroForm.valid">Continuar</button>
    </form>
</div>