.card {
    background-color: #2E2E2E;
}

.main-text {
    font-size: 34px;

    @media screen and (min-width: 1024px){
        max-width: 70%;
        margin: 0 auto;
    }
}

.buy-section {
    background-image: url('https://zen-sleep.s3.amazonaws.com/images/pillows/pattern-produtos.svg');
    background-position: center;
    background-repeat: no-repeat;
}