<div class="bg-dark py-5">
    <div class="container" fxLayout="column" fxLayoutGap="2%">
        <p class="main-text text-center" style="font-size: 34px;">
            Conheça nossa linha completa de travesseiros e seus benefícios para uma noite de sono perfeita.
        </p>

        <div class="buy-section" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <a *ngFor="let pillow of buyPillows" [routerLink]="pillow.href" fxFlex="35" class="card no-borders rounded-20 mt-5 py-4 text-center" fxLayout="column"
                fxLayoutAlign="center center">
                <img [src]="pillow.image" alt="Travesseiro Zen Sleep {{pillow.name}}" width="130%">
                <p class="px-3">Travesseiro Zen Sleep <br> Dynamic Cell&trade; {{pillow.name}}</p>
                <a [routerLink]="pillow.href" class="d-none d-md-flex btn bg-highlight btn-rounded">Saiba mais</a>
                <a [routerLink]="pillow.href" class="d-flex d-md-none btn bg-highlight btn-rounded">Compre</a>
            </a>
        </div>
    </div>
</div>