/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
$dark: #1B1B1B;
$grey: #9A9A9A;

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    color: $grey;
}

a {
    text-decoration: none !important;
    color: currentColor;
    
    &:visited {
        color: currentColor;
    }
}

.btn-rounded {
    border-radius: 30px !important;
}

.bg-dark {
    background-color: $dark;
}