/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
$dark: #1B1B1B;
$grey: #9A9A9A;
$yellow: #FFA31A;
$bg-light: #F5F5F5;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    color: $grey;
}

a {
    text-decoration: none !important;
    color: currentColor;

    &:visited {
        color: currentColor;
    }
}

.btn-rounded {
    border-radius: 30px !important;
}

.bg-dark {
    background-color: $dark !important;
}

.bg-highlight {
    background-color: $yellow !important;
}

.btn.bg-highlight {
    padding: 0 40px;
    font-size: 18px;
    color: #2E2E2E;
}

::ng-deep {
    .mat-form-field-underline {
        display: none;
    }
}

.main-text {
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
}

.rounded-20 {
    border-radius: 20px;
}

.no-borders {
    border: none !important;
}

.no-shadow {
    box-shadow: none !important;
}

.bg-light {
    background-color: $bg-light !important;
}

mat-expansion-panel {
    background-color: $bg-light !important;

    &:hover, mat-expansion-panel-header, mat-expansion-panel-header:hover {
        background-color: $bg-light !important;
    }
}
