#endereco {

    @media screen and (max-width: 991px) {
        div:nth-child(1) {
            border-bottom: 2px solid #EBEBEB;
        }
    }

    @media screen and (min-width: 992px) {
        div:nth-child(2) {
            border-left: 2px solid #EBEBEB;
            border-right: 2px solid #EBEBEB;

            span {
                width: 100px;
            }
        }
    }

}

::ng-deep {

    mat-ink-bar {
        display: none;
    }

    .mat-tab-header {
        border: none;
    }

    .mat-tab-label:nth-child(1) {
        display: none;
    }

    .mat-tab-label {
        border-radius: 20px;
        border: 1px solid #EBEBEB;
        box-shadow: none;
        margin-right: 10px;

        &:hover {
            color: #FFA31A;
            border: 1px solid #FFA31A;
            box-shadow: none;
        }

        &.mat-tab-label-active {
            background-color: #2E2E2E;
            border: 1px solid #2E2E2E;
            color: #FFA31A;
            opacity: 1;
            box-shadow: none;
        }
    }
}

.card {
    border: 1px solid #EBEBEB;
}

.custom-label {
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 12px;
    padding-left: 15px;
}