<div class="container py-5">
    <div *ngIf="!compraFinalizada" fxLayout="column" fxLayoutGap="5%">
        <p class="main-text text-dark">Endereço de entrega</p>

        <div id="endereco" class="card rounded-20 px-4 py-2" fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex="100" fxFlex.gt-sm="33" class="p-3">
                <p>{{user.name}}</p>
                <p class="m-0">{{user.cpf | mask:'000.000.000-00'}}</p>
                <p class="m-0">{{user.email}}</p>
                <p class="m-0">{{user.phoneAreaCode + user.phone | mask:'(00) 0000-0000'}}</p>
            </div>

            <div fxFlex="60" fxFlex.gt-sm="33" class="p-3 text-left" fxLayout="column"
                fxLayoutAlign.gt-sm="space-around center">
                <span>{{address.address}},{{address.number}}</span>
                <span>CEP {{address.cep}}</span>
                <span>{{address.city}} - {{address.state}}</span>
            </div>

            <div fxFlex="40" fxFlex.gt-sm="33" class="p-3 text-center">
                <u><a class="link" (click)="changeAddress()">Alterar dados de entrega</a></u>
            </div>
        </div>

        <p class="main-text text-dark">Meio de pagamento</p>

        <div fxLayout="row wrap" fxLayoutAlign="space-between start">

            <div fxFlex="100" fxFlex.gt-sm="30">
                <app-cart-overview [showButton]="false"></app-cart-overview>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="68" id="payment-wrapper">
                <mat-tab-group #payment (selectedTabChange)="tabChanged($event)" class="w-100">
                    <mat-tab label="Cartão de crédito">
                        <div class="py-5 my-2 card rounded-20 text-center">
                            <span style="font-size: 48px; line-height: 48px; font-weight: 100;">Selecione uma das opções
                                acima</span>
                        </div>
                    </mat-tab>
                    <mat-tab label="Cartão de crédito">
                        <form [formGroup]="cardForm" (ngSubmit)="card(cardForm.value)">
                            <div class="py-5 px-4 my-2 card rounded-20">
                                <mat-form-field appearance="none">
                                    <mat-label class="label">Número do cartão</mat-label>
                                    <input matInput type="text" [formControl]="number" required>
                                    <mat-error *ngIf="number.touched && number.errors">Campo obrigatório.</mat-error>
                                </mat-form-field>

                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                    <div fxFlex="68">
                                        <mat-form-field appearance="none">
                                            <mat-label class="label">Nome impresso no cartão</mat-label>
                                            <input matInput type="text" [formControl]="name" required>
                                            <mat-error *ngIf="name.touched && name.errors">Campo obrigatório.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="14" style="position: relative;">
                                        <label class="label custom-label">Vencimento</label>
                                        <mat-form-field appearance="none">
                                            <input matInput type="text" [mask]="'00'" [formControl]="month" required placeholder="Mês">
                                            <mat-error *ngIf="month.touched && month.errors">Campo obrigatório.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="14">

                                        <mat-form-field appearance="none">
                                            <input matInput type="text" [mask]="'00'" [formControl]="year" placeholder="Ano" required>
                                            <mat-error *ngIf="year.touched && year.errors">Campo obrigatório.</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <mat-form-field appearance="none">
                                    <mat-label>Cód. de segurança</mat-label>
                                    <input matInput type="text" [mask]="'0009'" [formControl]="security" required>
                                    <mat-error *ngIf="security.touched && security.errors">Campo obrigatório.</mat-error>
                                </mat-form-field>
                            </div>

                            <select formControlName="parcelas" *ngIf="parcelas.length > 0">
                                <option *ngFor="let parcela of parcelas" [value]="parcela.totalAmount">
                                    {{parcela.quantity}} x <span *ngIf="parcela.interestFree">sem juros</span> de {{parcela.installmentAmount | currency:'BRL'}}
                                </option>
                            </select>
                            
                            <button mat-flat-button [disabled]="!cardForm.invalid" class="btn bg-highlight btn-rounded m-auto float-right my-3" type="submit" (click)="card(cardForm.value)">Finalizar compra</button>
                        </form>
                    </mat-tab>
                    <mat-tab label="Boleto bancário">
                        <div class="py-5 my-2 card rounded-20 text-center">
                            <div>
                                <p class="font-weight-bold">Atenção: O pagamento através de boleto acrescentará 3 dias úteis no prazo de entrega
                                    devido a compensação bancária.</p>
                                <p>Após clicar em "Finalizar compra" você receberá o seu boleto bancário. É possível
                                    imprimi-lo e pagar pelo site do seu banco ou em uma casa lotérica. Nota: O pedido
                                    será confirmado apenas após a confirmação do pagamento</p>
                            </div>
                        </div>
                        <button mat-flat-button class="btn bg-highlight btn-rounded m-auto float-right my-3" (click)="boleto()">Finalizar compra</button>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>

    <div *ngIf="compraFinalizada">
        <h1>Sucesso!</h1>
    </div>
</div>

