.example-headers-align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.faq {
    p {
        height: 80px;

        @media screen and (min-width: 500px) {
            height: 60px;
        }

        @media screen and (min-width: 600px) {
            height: 100px;
        }

        @media screen and (min-width: 800px) {
            height: 80px;
        }

        @media screen and (min-width: 960px) {
            height: 80px;
        }

        @media screen and (min-width: 1024px) {
            height: 60px;
        }
    }
}